 body {
   font-family: Cutive Mono, arial;
   background: #222;
   background: linear-gradient(rgba(0, 0, 0, 0.764), rgba(0, 0, 55, 0.3)), url('https://images.unsplash.com/photo-1599564139043-bc29b0909b6b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=604&q=80');
   background-size: cover;
   background-position: center center;
   padding-top: 0px !important;
   display: flex;
   height: 350vh;
   padding-right: 0 !important;
   z-index: 0 !important;
 }

 .active {
   background-color: grey !important;
 }

 .nav-wrapper a:hover {
   background: #ddd;
   color: black;
 }

 @media screen and (max-width: 434px) {
   .myLogo {
     font-size: 12px !important;
   }
 }

 .brand-logo {
   margin-left: 1%;
 }

 .nav-wrapper {
   background-color: black;
 }

 @media screen and (max-width: 806px) {
   .myLogo {
     font-size: 16px !important;
   }
 }

 @media screen and (max-width: 434px) {
   .myLogo {
     font-size: 12px !important;
   }
 }

 .myTitle {
   font-size: 16px !important;
 }



 .biggestContainer {
   padding-top: 80px;
 }


 radio:required {
   border-color: red;
 }

 .container {
   animation: showUp 0.5s cubic-bezier(0.18, 1.3, 1, 1) forwards;
 }

 @keyframes showUp {
   0% {
     transform: scale(0);
   }

   100% {
     transoform: scale(1);
   }
 }

 .row {
   margin-bottom: 10px;
 }

 .mainContainer {
   margin-top: 10px;
   color: white;
   font-size: 20px;
   background: #222;
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
 }

 .subContainer {
   padding: 20px;
 }


 .brand-logo {
   margin-left: 1%;
 }

 .myCardContent {
   font-size: 14px;
 }

 .nav-wrapper a:hover {
   background: #ddd;
   color: black;
 }


 /* search animation css start */


 .showNav {
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -o-transition: all 1s ease;
   transition: all 1s ease;
   width: 11vw !important;
 }

 .hidden {
   opacity: 0;
   width: 0px !important;
 }


 #autocomplete-input-mobile {
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -o-transition: all 1s ease;
   transition: all 1s ease;
 }

 .notActive {
   background-color: transparent !important;
 }