 body {
   font-family: Cutive Mono, arial;
   background: #222;
   background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('/assets/images/angel-1075947_1280.webp');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center center;
   padding-top: 0 !important;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 120vh;
   padding-right: 0 !important;
   z-index: 0 !important;
 }

 html {
   overflow-y: auto;
 }


 .swal2-shown {
   display: flex;
   height: 112vh;
   width: 100vw;
 }

 .usernameField {
   font-size: 16px;
   color: darkgray;
 }


 @media screen and (max-width: 830px) {
   .myFont {
     font-size: xx-large;
   }
 }



 .myInput {
   font-family: Cutive Mono, arial;
 }

 .twentyVhSpacer {
   height: 20vh;
 }