body {
  font-family: Cutive Mono, arial;

  background: #222;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://cdn.pixabay.com/photo/2015/08/29/23/14/angel-913630_1280.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  padding-top: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;

  padding-right: 0 !important;
  z-index: 0 !important;
}

html {
  overflow-y: auto;
}

/* main {
    background: black;
  } */

.swal2-shown {
  display: flex;
  height: 112vh;
  width: 100vw;
}

.usernameField {
  font-size: 16px;
  color: darkgray;
}

.container {
  animation: showUp 0.5s cubic-bezier(0.18, 1.3, 1, 1) forwards;

}

/* .myLog {
      padding-right: 10px;
      padding-left: 10px;
     
    } */

@media screen and (max-width: 676px) {
  .myFont {
    font-size: xx-large;
  }
}

.myInput {
  font-family: Cutive Mono, arial;
}